.card {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 230px;
    text-align: center;
    box-shadow: 0 2px 5px 2px #ddd0ca;
    background: #FFFCE8;
    border-radius: 16px;
}

.card__img {
    border-radius: 16px;
}

.card__title {
    color: #51443d;
}

.card__description {
    color: #725E54;
}