$dark: #51443d;

.card {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 230px;
    text-align: center;
    box-shadow: 0 2px 5px 2px #ddd0ca;
    background: #FFFCE8;
    border-radius: 16px;
}

.card__img {
    border-radius: 16px;
}

.card__title {
    color: $dark;
}

.card__description {
    color: #725E54;
}

@media (max-width: 1024px) {
    .card {
        min-width: auto;
        width: 42%;
        position: relative;

        & > img {
            width: 100%;
        }
    }
}
