.header {

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;

    & > li {
      padding: 0 4px;
    }
  }

  &__link {
    padding: 0 28px 0 0;
    font-size: 20px;
    text-align: center;
    background-color: #FFFCE8;
    border-radius: 8px;
  }

  &__name {
    font-size: 32px;
    color: #FF6B6B;
  }

  &__logo {
    height: 100px;
    margin: 4px;
  }

}

@media (max-width: 1024px) {
  .header {

    &__navigation {
    }

    &__links {
      display: flex;
    }

    &__link {
      padding: 0;
      font-size: 14px;
      text-align: center;
    }

    &__name {
      font-size: 18px;

      width: min-content;
    }

    &__logo {
      display: none;
    }

  }
}
