.header {

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
  }

  &__link {
    padding: 0 28px 0 0;
    font-size: 20px;
    text-align: center;
    background-color: #FFFCE8;
    border-radius: 8px;
  }

  &__name {
    font-size: 32px;
    color: #FF6B6B;
    display: inline;
    top: 30px;
    padding-top: 24px;
  }

  &__logo {
    height: 100px;
    margin: 4px;
  }

}
