.header__link {
    padding: 0 28px 0 0;
    font-size: 20px;
    text-align: center;
    background-color: #FFFCE8;
    border-radius: 8px;
}

.header_name {
    font-size: 32px;
    color: #FF6B6B;
    display: inline;
    top: 30px;
    padding-top: 24px;
}

.header_logo {
    height: 100px;
    padding: 0 0 0 12px;
    margin-left: 12px;
    margin-top: 20px;
}