
.send__input-title {
     font-size: 28px;
     color: #51443d;
     font-weight: bold;
     text-align:  center;
     padding: 12px;
 }

 .send__input {
    display: flex;
    flex-direction: column;
    padding: 8px 0 4px 0;
    height: fit-content;
    outline: none;
    border: #FF6B6B solid 1px;
    border-radius: 8px;
    margin-bottom: 24px;
     margin-left: 12px;
}

 .send {
     border: #FF6B6B solid 1px;
     border-radius: 8px;
     padding: 8px 4px;
     min-width: 300px;
     position: relative;
 }

 .send__input-button {
     display: block;
     margin: 0 auto;
     margin-bottom: 8px;
 }

