.footer {
  background-color: #FF6B6B;
  width: 100%;
  padding: 8px 80px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  font-size: 12px;


}


@media (max-width: 1024px) {
  .footer {
    //width: fit-content;
  }
}
